# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.venv/
venv/
ENV/
env/

# IDE settings
.idea/
.vscode/
./downloads

# Project specific
.env
C:/Users/*
metadata_pins.csv
*.log
